# Fictitious Names

### Introduction:

This time you will create a data again 

Special thanks to [Chris Albon](http://chrisalbon.com/) for sharing the dataset and materials.
All the credits to this exercise belongs to him.  

In order to understand about it go [here](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/).

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd

### Step 2. Create the 3 DataFrames based on the following raw data

In [2]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

### Step 3. Assign each to a variable called data1, data2, data3

In [13]:
data1 = pd.DataFrame(raw_data_1).set_index('subject_id')
print(data1.head())

data2 = pd.DataFrame(raw_data_2).set_index('subject_id')
print(data2.head())

data3 = pd.DataFrame(raw_data_3).set_index('subject_id')
print(data3.head())

           first_name last_name
subject_id
1                Alex  Anderson
2                 Amy  Ackerman
3               Allen       Ali
4               Alice      Aoni
5              Ayoung   Atiches
           first_name last_name
subject_id
4               Billy    Bonder
5               Brian     Black
6                Bran   Balwner
7               Bryce     Brice
8               Betty    Btisan
            test_id
subject_id
1                51
2                15
3                15
4                61
5                16

### Step 4. Join the two dataframes along rows and assign all_data

In [19]:
# IN THIS CASE, MY DECISION TO MAKE THE subject_id the index for each 
# dataframe made merging problematic, because the subject_id's were not unique

all_data = pd.merge(data1, data2, left_index=True, right_index=True, how='outer')
all_data

           first_name_x last_name_x first_name_y last_name_y
subject_id
1                  Alex    Anderson          NaN         NaN
2                   Amy    Ackerman          NaN         NaN
3                 Allen         Ali          NaN         NaN
4                 Alice        Aoni        Billy      Bonder
5                Ayoung     Atiches        Brian       Black
6                   NaN         NaN         Bran     Balwner
7                   NaN         NaN        Bryce       Brice
8                   NaN         NaN        Betty      Btisan

In [22]:
# resetting the index produces the 'interleaving' result I wanted, but still might
# produce confusing results if we try to merge with the test_id dataframe, b/c the subject
# id's aren't unique

all_data = pd.merge(data1.reset_index(), data2.reset_index(),  how='outer', indicator=True)
all_data

  subject_id first_name last_name      _merge
0          1       Alex  Anderson   left_only
1          2        Amy  Ackerman   left_only
2          3      Allen       Ali   left_only
3          4      Alice      Aoni   left_only
4          5     Ayoung   Atiches   left_only
5          4      Billy    Bonder  right_only
6          5      Brian     Black  right_only
7          6       Bran   Balwner  right_only
8          7      Bryce     Brice  right_only
9          8      Betty    Btisan  right_only

In [39]:
del all_data['_merge']

### Step 5. Join the two dataframes along columns and assing to all_data_col

In [23]:
data1.head()

           first_name last_name
subject_id
1                Alex  Anderson
2                 Amy  Ackerman
3               Allen       Ali
4               Alice      Aoni
5              Ayoung   Atiches

In [24]:
data2.head()

           first_name last_name
subject_id
4               Billy    Bonder
5               Brian     Black
6                Bran   Balwner
7               Bryce     Brice
8               Betty    Btisan

In [53]:
all_data_col = pd.concat([data1.reset_index(), data2.reset_index()], axis=1)

In [54]:
all_data_col

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

In [55]:
#pd.concat([data1, data2], keys=['data1', 'data2'])

### Step 6. Print data3

In [29]:
print(data3)

            test_id
subject_id
1                51
2                15
3                15
4                61
5                16
7                14
8                15
9                 1
10               61
11               16

### Step 7. Merge all_data and data3 along the subject_id value

In [43]:
all_data.head()

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches

In [44]:
data3.head()

            test_id
subject_id
1                51
2                15
3                15
4                61
5                16

In [46]:
pd.merge(all_data, data3, left_on=['subject_id'], right_index=True, how='left')

#pd.merge('all_data', 'data3', on=['subject_id'], how='left')

  subject_id first_name last_name  test_id
0          1       Alex  Anderson     51.0
1          2        Amy  Ackerman     15.0
2          3      Allen       Ali     15.0
3          4      Alice      Aoni     61.0
4          5     Ayoung   Atiches     16.0
5          4      Billy    Bonder     61.0
6          5      Brian     Black     16.0
7          6       Bran   Balwner      NaN
8          7      Bryce     Brice     14.0
9          8      Betty    Btisan     15.0

### Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2

In [48]:
pd.merge(data1, data2, how='inner', left_index=True, right_index=True)

           first_name_x last_name_x first_name_y last_name_y
subject_id
4                 Alice        Aoni        Billy      Bonder
5                Ayoung     Atiches        Brian       Black

### Step 9. Merge all values in data1 and data2, with matching records from both sides where available.

In [49]:
data1

           first_name last_name
subject_id
1                Alex  Anderson
2                 Amy  Ackerman
3               Allen       Ali
4               Alice      Aoni
5              Ayoung   Atiches

In [50]:
data2

           first_name last_name
subject_id
4               Billy    Bonder
5               Brian     Black
6                Bran   Balwner
7               Bryce     Brice
8               Betty    Btisan

In [52]:
pd.merge(data1.reset_index(), data2.reset_index(), how='outer')

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches
5          4      Billy    Bonder
6          5      Brian     Black
7          6       Bran   Balwner
8          7      Bryce     Brice
9          8      Betty    Btisan

In [57]:
# Their solution

pd.merge(data1, data2, how='outer', left_index=True, right_index=True)

           first_name_x last_name_x first_name_y last_name_y
subject_id
1                  Alex    Anderson          NaN         NaN
2                   Amy    Ackerman          NaN         NaN
3                 Allen         Ali          NaN         NaN
4                 Alice        Aoni        Billy      Bonder
5                Ayoung     Atiches        Brian       Black
6                   NaN         NaN         Bran     Balwner
7                   NaN         NaN        Bryce       Brice
8                   NaN         NaN        Betty      Btisan