# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [ ]:
import numpy as np
import pandas as pd

### Step 2. Create the DataFrame with the following values:

In [ ]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [ ]:
regiment = pd.DataFrame(raw_data)

In [ ]:
regiment

      regiment company      name  preTestScore  postTestScore
0   Nighthawks     1st    Miller             4             25
1   Nighthawks     1st  Jacobson            24             94
2   Nighthawks     2nd       Ali            31             57
3   Nighthawks     2nd    Milner             2             62
4     Dragoons     1st     Cooze             3             70
5     Dragoons     1st     Jacon             4             25
6     Dragoons     2nd    Ryaner            24             94
7     Dragoons     2nd      Sone            31             57
8       Scouts     1st     Sloan             2             62
9       Scouts     1st     Piger             3             70
10      Scouts     2nd     Riani             2             62
11      Scouts     2nd       Ali             3             70

In [ ]:
# regiment = regiment.set_index('regiment')
# regiment.head()

In [ ]:
#regiment.info()

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [ ]:
# Solution #1
regiment.groupby('regiment').agg({'preTestScore' : 'mean'}).loc[ ['Nighthawks'], :]

            preTestScore
regiment
Nighthawks         15.25

In [ ]:
# Solution #2
(
    regiment
 .query('regiment == "Nighthawks"')
 .loc[:, ['preTestScore']]
 .mean()

)

preTestScore    15.25
dtype: float64

### Step 5. Present general statistics by company

In [ ]:
regiment.groupby('regiment').describe().T

regiment              Dragoons  Nighthawks     Scouts
preTestScore  count   4.000000    4.000000   4.000000
              mean   15.500000   15.250000   2.500000
              std    14.153916   14.453950   0.577350
              min     3.000000    2.000000   2.000000
              25%     3.750000    3.500000   2.000000
              50%    14.000000   14.000000   2.500000
              75%    25.750000   25.750000   3.000000
              max    31.000000   31.000000   3.000000
postTestScore count   4.000000    4.000000   4.000000
              mean   61.500000   59.500000  66.000000
              std    28.757608   28.242993   4.618802
              min    25.000000   25.000000  62.000000
              25%    49.000000   49.000000  62.000000
              50%    63.500000   59.500000  66.000000
              75%    76.000000   70.000000  70.000000
              max    94.000000   94.000000  70.000000

### Step 6. What is the mean of each company's preTestScore?

In [ ]:
regiment.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

In [51]:
(
    regiment
 .groupby(['regiment', 'company'])
 .agg({'preTestScore':'mean'})
)

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Step 7. Present the mean preTestScores grouped by regiment and company

In [ ]:
regiment.groupby(['regiment', 'company']).agg({'preTestScore' : 'mean'})

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

In [ ]:
df = regiment.groupby(['regiment', 'company']).agg({'preTestScore' : 'mean'})
df

                    preTestScore
regiment   company
Dragoons   1st               3.5
           2nd              27.5
Nighthawks 1st              14.0
           2nd              16.5
Scouts     1st               2.5
           2nd               2.5

In [ ]:
df.index.names

FrozenList(['regiment', 'company'])

In [ ]:
df.index.values

array([('Dragoons', '1st'), ('Dragoons', '2nd'), ('Nighthawks', '1st'),
       ('Nighthawks', '2nd'), ('Scouts', '1st'), ('Scouts', '2nd')],
      dtype=object)

In [ ]:
new_idx_values =  df.index.values.tolist() 
new_idx_values

[('Dragoons', '1st'),
 ('Dragoons', '2nd'),
 ('Nighthawks', '1st'),
 ('Nighthawks', '2nd'),
 ('Scouts', '1st'),
 ('Scouts', '2nd')]

In [ ]:
new_idx_values = [ x[0] + " "+ x[1] for x in new_idx_values]
new_idx_values

['Dragoons 1st',
 'Dragoons 2nd',
 'Nighthawks 1st',
 'Nighthawks 2nd',
 'Scouts 1st',
 'Scouts 2nd']

In [ ]:
# set the index one level deep
df.index = np.array(new_idx_values)
#df.index.names = "regiment + company"

In [ ]:
df

                preTestScore
Dragoons 1st             3.5
Dragoons 2nd            27.5
Nighthawks 1st          14.0
Nighthawks 2nd          16.5
Scouts 1st               2.5
Scouts 2nd               2.5

In [ ]:
# add index name
df.index.names =  ["regiment + company"]

In [ ]:
df

                    preTestScore
regiment + company
Dragoons 1st                 3.5
Dragoons 2nd                27.5
Nighthawks 1st              14.0
Nighthawks 2nd              16.5
Scouts 1st                   2.5
Scouts 2nd                   2.5

In [54]:
###  THE SOLUTION THEY HAD; THEY JUST MOVE THE INNER INDEX OVER USING unstack

(
    regiment
 .groupby(['regiment', 'company'])
 .agg({'preTestScore':'mean'})
 .unstack()
)

           preTestScore
company             1st   2nd
regiment
Dragoons            3.5  27.5
Nighthawks         14.0  16.5
Scouts              2.5   2.5

### Step 9. Group the entire dataframe by regiment and company

In [56]:
df_g = regiment.groupby(['regiment', 'company']).mean()
df_g

<ipython-input-56-d54c33f72ea5>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_g = regiment.groupby(['regiment', 'company']).mean()

                    preTestScore  postTestScore
regiment   company
Dragoons   1st               3.5           47.5
           2nd              27.5           75.5
Nighthawks 1st              14.0           59.5
           2nd              16.5           59.5
Scouts     1st               2.5           66.0
           2nd               2.5           66.0

### Step 10. What is the number of observations in each regiment and company

In [ ]:
regiment.head(10)

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70
5    Dragoons     1st     Jacon             4             25
6    Dragoons     2nd    Ryaner            24             94
7    Dragoons     2nd      Sone            31             57
8      Scouts     1st     Sloan             2             62
9      Scouts     1st     Piger             3             70

In [ ]:
# regiment separately
regiment.groupby('regiment').count()

            company  name  preTestScore  postTestScore
regiment
Dragoons          4     4             4              4
Nighthawks        4     4             4              4
Scouts            4     4             4              4

In [ ]:
# company separately doesn't make sense

In [ ]:
# grouped by regiment & company
df_g.count()

                    name  preTestScore  postTestScore
regiment   company
Dragoons   1st         2             2              2
           2nd         2             2              2
Nighthawks 1st         2             2              2
           2nd         2             2              2
Scouts     1st         2             2              2
           2nd         2             2              2

### Step 11. Iterate over a group and print the name and the whole data from the regiment

In [58]:
for name, group in regiment.groupby('regiment'):
  print(pd.DataFrame(group), '\n')

   regiment company    name  preTestScore  postTestScore
4  Dragoons     1st   Cooze             3             70
5  Dragoons     1st   Jacon             4             25
6  Dragoons     2nd  Ryaner            24             94
7  Dragoons     2nd    Sone            31             57

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62

   regiment company   name  preTestScore  postTestScore
8    Scouts     1st  Sloan             2             62
9    Scouts     1st  Piger             3             70
10   Scouts     2nd  Riani             2             62
11   Scouts     2nd    Ali             3             70