# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [16]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [80]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

In [81]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

`item_price` appears to be a string

In [82]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [85]:
chipo.shape

(4622, 5)

### Step 4. How many products cost more than $10.00?

In [84]:
# convert item_price from string to float

chipo = chipo.assign(
    item_price = lambda x: x.item_price.str.replace('$', '').astype(float)
)

<ipython-input-84-5d52a31891e7>:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  item_price = lambda x: x.item_price.str.replace('$', '').astype(float)

In [24]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [87]:
(
    chipo
    .drop_duplicates(subset=['item_name', 'quantity', 'choice_description'])
    .query('quantity == 1')
    .query('item_price > 10')
    .loc[:, 'item_price']
)

5       10.98
7       11.75
13      11.25
23      10.98
39      11.75
        ...
4593    11.75
4594    11.75
4607    11.75
4610    11.75
4611    11.25
Name: item_price, Length: 685, dtype: float64

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [59]:
chipo_items =\
(
    chipo.query('quantity == 1')
    .drop_duplicates(subset=['item_name', 'choice_description'])
    .query('item_price > 10')
    .drop(['order_id', 'quantity', 'choice_description'], axis=1)
    .drop_duplicates()
)

### Step 6. Sort by the name of the item

In [60]:
chipo_items.sort_values('item_name')

                  item_name  item_price
4510          Barbacoa Bowl       11.49
471           Barbacoa Bowl       11.48
39            Barbacoa Bowl       11.75
130        Barbacoa Burrito       11.75
3276       Barbacoa Burrito       11.48
1648       Barbacoa Burrito       11.08
168   Barbacoa Crispy Tacos       11.75
429   Barbacoa Crispy Tacos       11.48
1229    Barbacoa Salad Bowl       11.89
988     Barbacoa Soft Tacos       11.75
3184    Barbacoa Soft Tacos       11.48
163           Carnitas Bowl       11.48
822           Carnitas Bowl       11.08
97            Carnitas Bowl       11.75
93         Carnitas Burrito       11.75
2884       Carnitas Burrito       11.08
1063       Carnitas Burrito       11.48
1008  Carnitas Crispy Tacos       11.75
1132    Carnitas Salad Bowl       11.89
1963    Carnitas Soft Tacos       11.75
2919           Chicken Bowl       10.58
5              Chicken Bowl       10.98
13             Chicken Bowl       11.25
476         Chicken Burrito       10.58
23          Chicken Burrito       10.98
167         Chicken Burrito       11.25
365    Chicken Crispy Tacos       11.25
1027   Chicken Crispy Tacos       10.98
250           Chicken Salad       10.98
1189     Chicken Salad Bowl       11.25
79       Chicken Soft Tacos       11.25
427      Chicken Soft Tacos       10.98
90               Steak Bowl       11.75
825              Steak Bowl       11.08
187              Steak Bowl       11.48
147           Steak Burrito       11.48
322           Steak Burrito       11.08
7             Steak Burrito       11.75
2231     Steak Crispy Tacos       11.75
606        Steak Salad Bowl       11.89
1353       Steak Soft Tacos       11.75
1721       Steak Soft Tacos       11.48
62              Veggie Bowl       11.25
1863            Veggie Bowl       10.98
57           Veggie Burrito       11.25
435          Veggie Burrito       10.98
186       Veggie Salad Bowl       11.25
738       Veggie Soft Tacos       11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [61]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [63]:
most_expensive_product = chipo.item_price.idxmax()
chipo.loc[most_expensive_product, 'quantity']

15

In [64]:
chipo.loc[most_expensive_product, :]

order_id                                      1443
quantity                                        15
item_name             Chips and Fresh Tomato Salsa
choice_description                             NaN
item_price                                   44.25
Name: 3598, dtype: object

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [69]:
# Solution #1
chipo.query('item_name == "Veggie Salad Bowl"').item_name.count()

18

In [71]:
# Solution #2
chipo.item_name.value_counts().loc['Veggie Salad Bowl']

18

### Step 9. How many times did someone order more than one Canned Soda?

In [76]:
chipo.query('item_name == "Canned Soda" and quantity > 1').item_name.count()

20